{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="admin">
        <h2>Добавить товар</h2>

        <form action="">
            <input name="name" type="text" placeholder="Название">
            <input name="вуыскшзешщт" type="text" placeholder="Описание">
            <input name="category_id" type="text" placeholder="Категория">
            <input name="thumbnail" type="file">
            <input name="price" type="text" placeholder="Цена">
            <input type="submit" value="Добавить">
        </form>

        <h2>Заявки</h2>

        <div class="admin__wrapper">
        {% for order in closedOrders %}

            <div class="admin__item">
                <div>Клиент</div>
                <div class="admin__item-name">{{ order.user.name }}</div>
                <div class="admin__item-phone">{{ order.user.phone }}</div>
                <div class="basket__item-price"><span>{{ order.summ }}</span> &#8381;</div>
                <button class="admin__item-check">Оформлен</button>
            </div>
            <div class="basket">
                <div class="basket__wrapper">
                    {% for basketItem in order.basket %}
                        <div class="basket__item">
                            <div class="basket__item-name">{{ basketItem.good.name }}</div>
                            <div class="basket__item-counter">{{ basketItem.count }} шт.</div>
                            <div class="basket__item-price"><span>{{ basketItem.good.price }}</span> &#8381;</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    <!-- .site__content -->
    </div><!-- .site__main -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

