{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="basket">
        <div class="basket__wrapper">
            {% for basketGood in basketGoods %}
                <div class="basket__item">
                    <div class="basket__item-name">{{ basketGood.good.name }}</div>
                    <div class="basket__item-counter">{{ basketGood.count }} шт.</div>
                    <div class="basket__item-price"><span>{{ basketGood.good.price * basketGood.count }}</span> &#8381;</div>
                    <button data-good-id="{{ basketGood.good.id }}">Убрать из корзины</button>
                </div>
            {% endfor %}
            <div class="basket__bottom">
                <div class="basket__all-price">
                    Итого: <span>0</span> &#8381;
                </div>
                <button>Оформить КП</button>
            </div>

        </div>
    </div>

    <!-- .site__content -->
    </div><!-- .site__main -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("common.js", "js")}}"></script>
{% endblock %}

